@using Microsoft.AspNetCore.Identity
@using LucidiaIT.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<LucidiaIT.Models.EmployeeModels.Employee>

@{
    ViewData["Title"] = "About";
}

@section Jumbotron {
    <div class="jumbotron">
        <div class="col-sm-12 col-md-4" id="jumbotron-content">
            <h2>Lucidia iT</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        </div>
    </div>
}

<div id="about-us">
    <h2>@ViewData["Title"]</h2>
    <img id="about-us-img" src="~/images/house-trees-field-sky.jpg" alt="house trees field sky" />
    <p class="about-us-paragraph">
        Specializing in Advanced Network Engineering & Data Center Design with the ability to provide best in class Installation & Support. Our scope is comprehensive: we use our internal resources and long-nurtured relationships with our specialized partners to deliver innovative network designs and solutions. We also deliver value added features such as Network Security and Automation Solutions internally and through our partner channels.
    </p>
    <p class="about-us-paragraph">
        Located in Indianapolis and serving world-wide, we at LucidiaIT believe that professionalism is essential in our work.
    </p>
    <p class="about-us-paragraph">
        We have been in the industry for the last 20 years and have seen the pitfalls and shortcomings that are inherent to the industry. Let LucidiaIT secure your existing architecture or build you a new architecture from the ground up that will be reliable, secure and scalable. Secure your future assets with LucidiaIT as your building block.  The solutions we create consistently surpass clients’ expectations and lay the foundation for future projects.
    </p>
    <p class="about-us-paragraph">
        LucidiaIT has 20+ years hands-on experience designing and working with computer networks and computer systems.
    </p>
    <p class="about-us-paragraph">
        Our employees have built Data Centers and networks for some of the largest customers in the Midwest, including numerous Fortune 500 organizations.
    </p>
    <div class="clearfix"></div>
    <h2>Our people</h2>
    @if (SignInManager.IsSignedIn(User))
    {
        <p>
            <a asp-controller="Employees" asp-action="Create">Create New</a> |
            <a asp-controller="Employees" asp-action="Index">Employees List</a>
        </p>
    }
    <div class="row" id="people-container">
        @foreach (var employee in Model)
        {
             <div class="col-sm-12 col-md-4 people-bio">
                 <div class="col-sm-6 col-sm-offset-3 people-img-container">
                     <div class="col-sm-12 people-img" style="background: url('@employee.InitialImage') no-repeat center;"></div>
                     <div class="col-sm-12 people-img-hover" style="background: url('@employee.HoverImage') no-repeat center;"></div>
                 </div>                
                <div class="col-sm-12">
                    <h3>@employee.FirstName @employee.LastName</h3>
                    <h4>@employee.Title</h4>
                    <p>@employee.Description</p>
                </div>
            </div>    
        }               
    </div>
</div>

