@using Microsoft.AspNetCore.Identity
@using LucidiaIT.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<LucidiaIT.Models.EmployeeModels.Employee>

@{
    ViewData["Title"] = "About us";
}


@section Tracking {
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-116066642-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-116066642-1');
    </script>
}

@section Jumbotron {
    <div id="about-us-jumbotron" class="jumbotron">
        <div class="container" id="jumbotron-content">
            <h2 id="about-us-title" class="title">About us</h2>
        </div>
    </div>
}

<div id="about-us" class="container">
    <h2 class="team-title title">Our culture</h2>
    <p class="about-us-paragraph">
        <span><strong>We are one team...</strong></span><br />
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Supportive, encouraging and committed to the success of our customers.</span>
    </p>
    <p class="about-us-paragraph">
        <span><strong>We are accountable...</strong></span><br />
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; For the collaborative decisions we make together with our customers and each other, and we will stand behind them.</span>
    </p>
    <p class="about-us-paragraph">
        <span><strong>We work with Integrity...</strong></span><br />
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Creating an open, transparent, and trust-based environment.</span>
    </p>
    <p class="about-us-paragraph">
        <span><strong>We encourage thinking outside the box...</strong></span><br />
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; With passion and vigor.  We respect and appreciate the perspectives of others.</span>
    </p>
    <p class="about-us-paragraph">
        <span><strong>We care...</strong></span><br />
        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; About the growth and development of our team, our customers, and our community.</span>
    </p>

    <div class="clearfix"></div>

    <div class="row" id="people-container">
        <h2 class="team-title title">Our team</h2>
        <p class="our-team-paragraph">
            Located in Indianapolis and serving world-wide, we have a collective experience of over 80 years of hands-on experience designing and working with computer networks and computer systems.  Our team has built Data Centers and networks for some of the largest customers in the Midwest, including numerous Fortune 500 organizations.
        </p>

        @if (SignInManager.IsSignedIn(User))
        {
            <p>
                <a asp-controller="Employees" asp-action="Create">Create New</a> |
                <a asp-controller="Employees" asp-action="Index">Employees List</a>
            </p>
        }

        @foreach (var employee in Model)
        {
            <div class="col-sm-12 col-md-4 people-bio">
                <div class="col-sm-6 col-sm-offset-3 people-img-container">
                    <div class="col-sm-12 people-img" style="background: url('@employee.InitialImage') no-repeat center; background-size: cover;"></div>
                    <div class="col-sm-12 people-img-hover" style="background: url('@employee.HoverImage') no-repeat center; background-size: cover;"></div>
                </div>
                <div class="col-sm-12">
                    <h3>@employee.FirstName @employee.LastName</h3>
                    <h4>@employee.Title</h4>
                    <p>@employee.Description</p>
                </div>
            </div>
        }
    </div>
</div>

