@model LucidiaIT.Models.EmployeeModels.Employee

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Jumbotron {
    <div class="jumbotron">
        <div class="col-xs-12 col-sm-8 col-md-5" id="jumbotron-content">
            <h2>Delete employee</h2>
            <p>Confirm below to delete employee.</p>
        </div>
    </div>
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Employee</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InitialImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InitialImage)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HoverImage)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HoverImage)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
